body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #285D63;
    background-size: cover;
    font-family: "Open-sans, sans-serif";
}

.topnav{
    background-color:#2A363B;
    overflow: hidden;

}

.topnav a{
    float:left;
    display: block;
    color:red;
    text-align: center;
    padding: 14px 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 17px;

}

.topnav a.reg{
    text-shadow: 0 0 0.5em #2A363B;
    float:right;
    color:white;
    margin-top:5px;

}

.topnav a.reg:hover{
    background-color: #99B898;
    color:white;
}

.topnav a.active{
    text-shadow: 0 0 0.5em #2A363B;
    color: white;
    font-weight: bold;
    font-size: calc(15px + 1vw);
}

.topnav.icon{
    display:none;
}

.hero-image{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('//3.png');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: cover;
    position: relative;
    transition: height 2s;
}

.hero-image:hover{
    height: 80%;

}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-family: 'Montserrat', 'Arial', Helvetica, sans-serif;
    font-size: calc(40px + 1vw);
    font-weight: 700;
    color: white;
    text-shadow: 0 0 0.15em #2C887B;
    user-select: none;
    white-space: nowrap;
    filter: blur(.007em);
    animation: qshake 5s linear forwards;
    animation-iteration-count: infinite;
}

.hero-text button{
    border: none;
    outline:0;
    width:50%;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color:#617C7F;
    text-align: center;
    cursor: pointer;
    transition-property: background-color;
    transition: width 2s;
    transition-duration: 5s;
    font-size: large;
}

.hero-text button:hover{
    color:white;
    width: 100%;
}

div.videotext{
    text-align: center;
    position: relative;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: calc(20px + 1w);
    font-weight: 700;
    color:#E0F2EC;
    text-shadow: 0 0 0.15 #285D63;
    user-select: none;
    white-space: nowrap;
    filter:blur(0.007em);
    animation: shake 5s linear forwards;
    border:0.5px solid #2A363B;
    margin-top: 5px;
    box-shadow: 3px 3px 3px #2A363B;
    -webkit-box-shadow: 3px 3px 3px #2A363B;
    -moz-box-shadow:3px 3px 3px #2A363B;
    -o-box-shadow:3px 3px 3px #2A363B;
}

div.text-container{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1{
    text-align: center;
    position: relative;
    font-family:'Montserrat',Arial, Helvetica, sans-serif ;
    font-size: calc(20px + 5vw);
    font-weight:700;
    color: #fff;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #2A363B;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2 linear forwards;
    animation-iteration-count: infinite;
}

 .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

